*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo img{
  height: 100%;
  width:100%;
  object-fit: cover;
}
.border{
    border: 1px transparent;
    
}
.border:hover{
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 5px;
}
.add_1{
    font-size: 0.85rem;
    color: #cccccc;
    margin: 2px 31px;
}
.add_2{
    font-weight: bold;
    font-size: 0.9rem;
}
.icon{
    display: flex;
    margin: 2px 10px;
    align-items: center;
}
.nav-search{
    display: flex;
    margin-left: 20px;

}
.nav-search:hover {
    border: 3px solid orange;
    border-radius: 5px;
}
.nav-search select{
    height: 41px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    outline: none;
    padding: 5px;
    background-color: #ffffffec;
}
.nav-search input{
    height: 35px;
    width: 750px;
    border: none;
    outline: none;
    padding: 3px 5px;
    font-size: 14px;
}
.search-icon {
    height: 41px;
    width: 40px;
    background-color: #febd69;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: black;
}
.nav-signin{
    margin-left: 20px;
}
.signin_1{
    font-size: 0.85rem;
    color: #ffffff;
    margin: 2px 10px;
}
.signin_2{
    font-weight: bold;
    font-size: 0.9rem;
    margin: 2px 10px;
}
.returns_1{
    font-size: 0.85rem;
    color: #ffffff;
    margin: 2px 10px;
}
.returns_2{
    font-weight: bold;
    font-size: 0.9rem;
    margin: 2px 10px;
}
.nav-cart{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.cart_1{
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 10px;
}
#icon{
    font-size: 1.5rem;
    
}
.panel{
    height: 39px;
    width: 100%;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
}
.menu_panel{
    margin-left: 10px;
    font-size: 0.9rem;
}
.panel_items p{
    display: inline;
    margin: 0px 18px;
    font-size: 0.9rem;   
}
.hero{
    background-image: url(BG_image3.jpg);
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;

}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #949693;
}

.card {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.grid p {
    font-size: 12px;
    margin-top: 5px;
}

.card a {
    margin-top: 15px;
    font-size: 13px;
    color: #007185;
    text-decoration: none;
}

.card a:hover {
    color: #222f3d;
}
.container_2{
    display: flex;
    justify-content: space-evenly;
    background-color: #949693;
}
.box{
    height: 400px;
    width: 22.5%; 
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box img{
   
    width: 300px;
    padding: 0px 0px 0px 18px;
    background-image: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.image8{
    padding: 0px 0px 0px 18px;
    background-image: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box h2{
    font-size: 1.3rem;
    /* margin: 10px; */
    margin-left: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: left;
}
.box a{
    margin-left: 16px;
    font-size: 0.8rem;
    color: #007185;
    text-decoration: none;
}
.box a:hover {
    color: #222f3d;
}
footer{
    margin-top: 20px;
}
.foot_pan1{
    background-color: #364659;
    color: white;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot_pan2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul a {
    display: block;
    padding: 8px;
    font-size: 0.85rem;
}
ul p{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 5px 7px;
}
.foot_pan3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo2{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot_pan4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.75rem;
}
.links{
    font-size: 0.75rem;
    text-align: center;
    padding: 20px 0 0 0;
}
.copyright{
    font-size: 0.75rem;
    text-align: center;
    margin-top: 5px;
}   

@media (max-width: 768px) {

    .navbar {
        flex-wrap: wrap;
    }

    .nav-search input {
        width: 400px;
    }

    .panel_items p {
        margin: 0 10px;
        font-size: 0.8rem;
    }

    .container_2 {
        flex-wrap: wrap;
    }

    .box {
        width: 45%;
        margin-bottom: 20px;
    }

    .box img {
        width: 90%;
        height: auto;
    }

    .foot_pan2 {
        flex-wrap: wrap;
        height: auto;
    }

    ul {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {

    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    .nav-address,
    .nav-signin,
    .nav-returns {
        display: none; 
    }

    .nav-search {
        width: 100%;
        margin: 10px 0;
    }

    .nav-search input {
        width: 100%;
    }

    .nav-cart {
        margin-left: auto;
    }

    .panel {
        flex-wrap: wrap;
        height: auto;
        padding: 5px;
    }

    .panel_items {
        display: none; 
    }

    
    .hero {
        height: 150px;
        background-position: center;
    }

    .container {
        padding: 10px;
    }

    .card h2 {
        font-size: 16px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .container_2 {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
        height: auto;
    }

    .box img {
        width: 90%;
        height: auto;
    }

    .foot_pan2 {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    ul p {
        margin-top: 20px;
    }
}





